@model List<Dish>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "List Dishes - Make Orders";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Filters</h3>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var dish in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img src="@dish.ImageUrl" class="card-img-top" />
                            <div class="card-body">
                                <span class="badge" style="background-color: @dish.Category.Color">@dish.Category.Name</span>
                                <h5 class="card-title mt-3">@dish.Name</h5>
                                <p class="card-text">@dish.Description</p>
                                <p class="price">$@dish.Price</p>
                                <p class="card-text">
                                    <i class="fas fa-clock"></i> @($"{(int)dish.MinimunTime.TotalHours}h{dish.MinimunTime.Minutes}m - {(int)dish.MaximunTime.TotalHours}h{dish.MaximunTime.Minutes}m ")
                                </p>
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <a 
                                        href="#" 
                                        class="btn btn-primary order-now"
                                        data-id="@dish.Id">
                                        Order Now
                                    </a>
                                }
                                else
                                {
                                    <a 
                                        href="#" 
                                        class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#authModal">
                                        Order Now
                                    </a>
                                }
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="authModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Authentication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="loginForm">
                    <partial name="_LoginForm" model="new LoginVM()"></partial>
                </div>
                <div id="registerForm" class="d-none">
                    <partial name="_RegisterForm" model="new UserVM()"></partial>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/login.js"></script>
    <script src="~/js/order.js"></script>

    <script>
        $(document).ready(function() {
            const loginForm = $("#loginForm");
            const registerForm = $("#registerForm");

            $("#switchToRegister").on("click", function(e) {
                e.preventDefault();
                loginForm.addClass("d-none")
                registerForm.removeClass("d-none");
            });

            $("#switchToLogin").on("click", function(e) {
                e.preventDefault();
                loginForm.removeClass("d-none")
                registerForm.addClass("d-none");
            });
        })
    </script>
}