@model List<Order>

@{
    ViewBag.Title = "List Orders";
}

<div class="container">
    <table id="DataTable" class="table table-striped table-hover">
        <thead style="background-color: var(--bs-primary); color: white">
            <tr>
                <td>Id</td>
                <td>Created At</td>
                <td>Order Status</td>
                <td></td>
            </tr>

        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.CreatedAt.ToShortDateString()</td>
                    <td>@order.OrderStatus</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@order.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <partial name="_DataTable" />
}